<header> 
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent disable-fixed">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="/">
                    <img src="../images/logo-red.png" data-at2x="../images/logo-red.png" alt="" class="default-logo">
                    <img src="../images/logo-red.png" data-at2x="../images/logo-red.png" alt="" class="alt-logo">
                    <img src="" data-at2x="" alt="" class="mobile-logo"> 
                </a>
            </div>
            <div class="col-auto menu-order position-static">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav"> 
                    <ul class="navbar-nav alt-font ls-05px">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Acerca De</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Nosotros</a></li>
                        <li class="nav-item"><a href="/productos" class="nav-link">Productos</a></li>
                        <li class="nav-item"><a href="/integrantes" class="nav-link">Integrantes</a></li>
                        <li class="nav-item"><a href="/proveedores" class="nav-link">Proveedores</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-auto col-lg-2 text-end xs-ps-0 xs-pe-0">
                <div class="header-icon"> 
                    <div class="header-button"><a href="/contacto" class="btn btn-small text-transform-none btn-transparent-white-light border-1 left-icon btn-rounded fw-500"><i class="feather icon-feather-mail d-none d-xl-inline-block"></i>Contacto</a></div>
                </div>  
            </div>
        </div>
    </nav>
</header>