<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Integrantes</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="css/vendors.min.css"/>
        <link rel="stylesheet" href="css/icon.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/responsive.css"/>
        <link rel="stylesheet" href="demos/conference/conference.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    </head>
    <body data-mobile-nav-style="classic">  
        <!-- start header -->
        <%- include('components/nav.ejs') %>
        
        <section class="page-title-big-typography bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="background-image: url(images/demo-conference-page-bg.jpg)">
            <div class="container">
                <div class="row align-items-center justify-content-center extra-small-screen">
                    <div class="col-lg-8 text-center page-title-extra-large">
                        <h1 class="mb-0 text-white alt-font fw-600 ls-minus-5px">
                            <span class="d-block text-outline text-outline-width-2px text-outline-color-white" data-fancy-text='{ "string": ["Integrantes"], "duration": 500, "delay": 0, "speed": 50, "clipPath": ["inset(0 500px 0 0)", "inset(0px -5px 0px 0px)"], "easing": "easeOutCubic" }'></span>
                            <span data-anime='{ "opacity": [0, 1], "easing": "easeOutQuad", "duration": 1000, "delay": 300 }'></span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-midnight-blue pt-0 half-section d-none d-md-block">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div id="map" class="w-90"></div>
                </div> 
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="bg-midnight-blue pt-0 sm-pt-50px">
            <div class="container">
                <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>  
                    
                    <div class="col text-center team-style-05 mb-50px"></div>
                    
                </div>
            </div>
        </section>
        
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    </body>
</html>

<script>

const map = L.map('map').setView([-38.4161, -63.6167], 5)
const locationsTest = [
    { name: "Buenos Aires", coords: [-34.6037, -58.3816] },
    { name: "Córdoba", coords: [-31.4201, -64.1888] },
    { name: "Rosario", coords: [-32.9468, -60.6393] },
    { name: "Mendoza", coords: [-32.8895, -68.8458] }
]
let locations = []

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map)

async function getLocations(){
    const response = await fetch("http://localhost:3000/integrantes/get-coords")
    const data = await response.json()

    for(let i = 0; i < data.length; i++){
        let member = {
            name: "",
            coords: [0,0]
        }

        member.name = data[i].name
        member.coords[0] = Number(data[i].lat)
        member.coords[1] = Number(data[i].lon)

        locations.push(member)
    }

    locations.forEach(location => {
    L.marker(location.coords).addTo(map)
        .bindPopup(`<b>${location.name}</b>`)
        .openPopup();
    })

    return data
}
getLocations()

</script>