<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Proveedores</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/icon.png">

        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="css/vendors.min.css"/>
        <link rel="stylesheet" href="css/icon.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/responsive.css"/>
        <link rel="stylesheet" href="demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic">  
        <!-- start header -->
        <%- include('components/nav.ejs') %>

        <section class="page-title-big-typography bg-dark-gray mb-0 pb-0 mt-0 pt-50px" data-parallax-background-ratio="0.5" style="background-image: url(images/demo-conference-page-bg.jpg)">
            <div class="container pt-70px pb-50px xs-pb-0 xs-pt-30px">
                <div class="row align-items-center justify-content-center extra-small-screen">
                    <div class="col-lg-12 text-center page-title-extra-large">
                        <h1 class="mb-10px text-white alt-font fw-600 ls-minus-5px">
                            <span class="d-block text-outline text-outline-width-2px text-outline-color-white" data-fancy-text='{ "string": ["Proveedores"], "duration": 500, "delay": 0, "speed": 50, "clipPath": ["inset(0 500px 0 0)", "inset(0px -5px 0px 0px)"], "easing": "easeOutCubic" }'></span>
                        </h1>
                        <span class="text-white fs-24 xs-fs-20" data-anime='{ "opacity": [0, 1], "easing": "easeOutQuad", "duration": 1000, "delay": 300 }'>Trabajamos con las marcas líderes de Argentina</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- start section -->
        <section class="bg-midnight-blue pt-50px">
            <div class="container">
                <div class="mb-10px row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-sm-2">  
                    <% supplier.forEach(supplier => { %>
                        <div class="p-0 xs-h-0 h-200px product-item" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="d-flex supplier-card p-1 m-10px align-items-center flex-column">
                                <div class="col-12">
                                    <img src="<%= supplier.image %>" alt="" class="card-img-top">
                                </div>
                                <div class="col-12 text-center mt-10px">
                                    <h6 class="text-white mb-0px"><%= supplier.name %></h6>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
              
            </div>
        </section>

        <%- include('components/footer.ejs') %>

        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/nav.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>