<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Admin - Integrantes</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="../css/vendors.min.css"/>
        <link rel="stylesheet" href="../css/icon.min.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="stylesheet" href="../demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic" class="bg-midnight-blue">  
        
        <%- include('../components/adminNav.ejs') %>

        <section>
            <div class="container adminContainer pt-0" style="max-width: 100% !important">
                <div class="row mt-1 mb-2">
                    <div class="col-md-12">
                        <h3 class="text-white text-center"><b>Admin</b> Panel</h3>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ">
                        
                            <div class="col-md-6 text-end">
                                <form action="/admin/integrantes/search" method="GET">
                                    <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="integrante" placeholder="Buscar Integrante" />
                                    <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit"><i class="bi bi-search text-white"></i></button> 
                                </form>
                            </div>
                            <div class="col-md-6 text-left">
                                <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit" data-toggle="modal" data-target="#">
                                    <span> 
                                        <span class="btn-text">Importar Masivamente</span> 
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                                    </span>
                                </button>
                                <button class=" btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" data-toggle="modal" data-target="#crearIntegranteModal">
                                    <span>
                                        <span class="btn-text">Crear Nuevo Integrante</span>
                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-70px">
                    <div class="col-md-2 sidebar-admin text-white">
                        <a href="/admin/productos" class="fs-28 adminLinks">Productos</a>
                        
                        <a href="/admin/proveedores" class="fs-28 adminLinks">Proveedores</a>
                        
                        <a href="/admin/integrantes" class="fs-28 adminLinks  text-base-color fw-600" >Integrantes</a>
                    </div>
                    <div class="col-md-10 list-admin">
                        <div class="row text-white">
                            <div class="col-md-2">
                                <h6 class="fw-600">Nombre</h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="fw-600">Razon Social</h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="fw-600">Direccion</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Localidad</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Provincia</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <div class="modal fade" id="crearIntegranteModal" tabindex="-1" aria-labelledby="crearIntegranteModalLabel" aria-hidden="true"  data-target=".bd-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearIntegranteModalLabel">Crear Nuevo Integrante</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario para crear un nuevo producto -->
                        <form action="/admin/integrantes/create" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Nombre</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Nombre de Negocio</label>
                                    <input type="text" class="form-control" name="businessName">
                                </div>
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Nombre de Fantasia</label>
                                    <input type="text" class="form-control" name="fantasyName">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Direccion</label>
                                    <input type="text" class="form-control" name="address">
                                </div>
                                
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-4">
                                    <label for="nombreProducto">Ciudad</label>
                                    <input type="text" class="form-control" name="city">
                                </div>
                                <div class="col-md-4">
                                    <label for="nombreProducto">Provincia</label>
                                    <select id="provincia" name="province">
                                        <option value="Buenos Aires">Buenos Aires</option>
                                        <option value="Catamarca">Catamarca</option>
                                        <option value="Chaco">Chaco</option>
                                        <option value="Chubut">Chubut</option>
                                        <option value="Córdoba">Córdoba</option>
                                        <option value="Corrientes">Corrientes</option>
                                        <option value="Entre Ríos">Entre Ríos</option>
                                        <option value="Formosa">Formosa</option>
                                        <option value="Jujuy">Jujuy</option>
                                        <option value="La Pampa">La Pampa</option>
                                        <option value="La Rioja">La Rioja</option>
                                        <option value="Mendoza">Mendoza</option>
                                        <option value="Misiones">Misiones</option>
                                        <option value="Neuquén">Neuquén</option>
                                        <option value="Río Negro">Río Negro</option>
                                        <option value="Salta">Salta</option>
                                        <option value="San Juan">San Juan</option>
                                        <option value="San Luis">San Luis</option>
                                        <option value="Santa Cruz">Santa Cruz</option>
                                        <option value="Santa Fe">Santa Fe</option>
                                        <option value="Santiago del Estero">Santiago del Estero</option>
                                        <option value="Tierra del Fuego">Tierra del Fuego</option>
                                        <option value="Tucumán">Tucumán</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="nombreProducto">ZIP</label>
                                    <input type="text" class="form-control" name="postalCode">
                                </div>
                            </div> 
                            <div class="form-group mt-20px">
                                <label for="nombreProducto">Imagen</label>
                                <input type="file" class="form-control" name="image" accept="image/*">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/vendors.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
