<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Admin - Productos</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="../css/vendors.min.css"/>
        <link rel="stylesheet" href="../css/icon.min.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="stylesheet" href="../demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic" class="bg-midnight-blue">  
        
        <%- include('../components/adminNav.ejs') %>
        
        <section>
            <div class="container adminContainer pt-0" style="max-width: 100% !important">
                <div class="row mt-0 mb-1">
                    <div class="col-md-12">
                        <h3 class="text-white text-center"><b>Admin</b> Panel</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="email" placeholder="Buscar Producto" />
                                <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit">
                                    <i class="bi bi-search text-white"></i>
                                </button>    
                            </div>
                            <div class="col-md-5 text-center">
                                <form action="/upload/productos" method="POST" enctype="multipart/form-data">                        
                                    <div class="input-group">
                                        <input type="file" class="form-control bg-transparent border-color-transparent-white-light file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file">
                                        <button class="btn btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="submit" id="inputGroupFileAddon04">Subir</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 text-end">
                                <button class="w-100 btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" data-toggle="modal" data-target="#crearProductoModal">
                                    <span>
                                        <span class="btn-text">Crear Nuevo Producto</span>
                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30px">
                    <div class="col-md-2 sidebar-admin text-white">
                        <a href="/admin/productos" class="fs-28 adminLinks text-base-color fw-600">Productos</a>
                        
                        <a href="/admin/proveedores" class="fs-28 adminLinks">Proveedores</a>
                        
                        <a href="/admin/integrantes" class="fs-28 adminLinks" >Integrantes</a>
                    </div>
                    <div class="col-md-10 list-admin">
                        <div class="row text-white">
                            <div class="col-md-2">
                                <p>Imagen</p>
                            </div>
                            <div class="col-md-2">
                                <p>Modelo</p>
                            </div>
                            <div class="col-md-2">
                                <p>Linea</p>
                            </div>
                            <div class="col-md-2">
                                <p>Marca</p>
                            </div>
                            <div class="col-md-2">
                                <p>Articulo</p>
                            </div>
                           
                           
                            
                            <div class="col-md-2  text-center">
                                <p>Opciones</p>
                            </div>
                        </div>

                        <!-- ACA ES LA VISUALIZACION DE PRODUCTOS -->
                        <div class="row text-white">
                            <div class="col-md-2">
                               
                            </div>
                            <div class="col-md-2">
                            
                            </div>
                            <div class="col-md-2">
                               
                            </div>
                            <div class="col-md-2">
                              
                            </div>
                            <div class="col-md-2">
                               
                            </div>
                           
                            <div class="col-md-2 text-center d-flex justify-content-between">
                                <button type="button" class="btn btn-primary w-30"><i class="ml-0px bi bi-arrows-angle-expand"></i>
                                </button>
                                <button type="button" class="btn btn-success w-30"><i class="ml-0px bi bi-pencil-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger  w-30"><i class="ml-0px bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Modal -->
        <div class="modal fade" id="crearProductoModal" tabindex="-1" aria-labelledby="crearProductoModalLabel" aria-hidden="true"  data-target=".bd-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearProductoModalLabel">Crear Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario para crear un nuevo producto -->
                        <form action="/admin/productos/create" method="POST" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <label for="nombreProducto">Nombre</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Categoria</label>
                                <input type="text" class="form-control" name="category">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Marca</label>
                                <input type="text" class="form-control" name="brand">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Articulo</label>
                                <input type="text" class="form-control" name="article">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Modelo</label>
                                <input type="text" class="form-control" name="model">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">SKU</label>
                                <input type="text" class="form-control" name="sku">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">EAN</label>
                                <input type="text" class="form-control" name="eanCode">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Costo</label>
                                <input type="text" class="form-control" name="cost">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Precio</label>
                                <input type="text" class="form-control" name="price">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Vendedor</label>
                                <input type="text" class="form-control" name="supplier">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">Imagen</label>
                                <input type="file" class="form-control" name="image" accept="image/*">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mt-10px w-65" name="submit" value="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
        
       
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/vendors.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
