<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Admin - Productos</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="../css/vendors.min.css"/>
        <link rel="stylesheet" href="../css/icon.min.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/responsive.css"/>
        <link rel="stylesheet" href="../demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic" class="bg-midnight-blue">  
        
        <%- include('../components/adminNav.ejs') %>

        <div class="form-create-product">
            <h3>Crear Producto</h3>
            <form action="" method="post" class="row contact-form-style-02">
                <div class="col-md-6 mb-30px">
                    <input class="input-name bg-transparent border-color-transparent-white-light form-control" type="text" name="name" placeholder="Nombre y Apellido*" />
                </div>
                <div class="col-md-6 mb-30px">
                    <input class="bg-transparent border-color-transparent-white-light form-control" type="email" name="email" placeholder="Email*" />
                </div>
                <div class="col-md-6 mb-30px">
                    <input class="bg-transparent border-color-transparent-white-light form-control" type="tel" name="phone" placeholder="Telefono*" />
                </div>
                <div class="col-md-6 mb-30px">
                    <input class="bg-transparent border-color-transparent-white-light form-control" type="text" name="subject" name="subject" placeholder="Asunto" />
                </div>
                <div class="col-md-12 mb-40px">
                    <textarea class="bg-transparent border-color-transparent-white-light form-control" cols="40" rows="4" name="comment" placeholder="Mensaje"></textarea>
                </div>
                <div class="col-lg-7 col-md-8">
                    <p class="mb-0 lh-30 text-center text-md-start fs-16">Estamos comprometidos a proteger su privacidad. Nunca recopilaremos información sobre usted sin su consentimiento explícito.</p>
                </div>
                <div class="col-lg-5 col-md-4 text-center text-md-end sm-mt-20px">
                    <input type="hidden" name="redirect" value="">
                    <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow align-self-center" type="submit">
                        <span> 
                            <span class="btn-text">Enviar</span> 
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                        </span>
                    </button>
                </div>
                <div class="col-12">
                    <div class="form-results mt-20px d-none"></div>
                </div>
            </form>
        </div>

        <section>
            <div class="container adminContainer" style="max-width: 100% !important">
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="text-white">Admin Panel</h3>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="email" placeholder="Buscar Producto" />
                                <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit">
                                    <i class="bi bi-search text-white"></i>
                                </button>    
                            </div>
                            <div class="col-md-5 text-center">
                                <form action="/upload/productos" method="POST" enctype="multipart/form-data">                        
                                    <div class="input-group">
                                        <input type="file" class="form-control bg-transparent border-color-transparent-white-light file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file">
                                        <button class="btn btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="submit" id="inputGroupFileAddon04">Subir</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 text-end">
                                <button class="w-100 btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" data-toggle="modal" data-target="#crearProductoModal">
                                    <span>
                                        <span class="btn-text">Crear Nuevo Producto</span>
                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30px">
                    <div class="col-md-2 sidebar-admin text-white">
                        <a href="/admin/productos" class="fs-28 adminLinks text-base-color fw-600">Productos</a>
                        
                        <a href="/admin/proveedores" class="fs-28 adminLinks">Proveedores</a>
                        
                        <a href="/admin/integrantes" class="fs-28 adminLinks" >Integrantes</a>
                    </div>
                    <div class="col-md-10 list-admin">
                        <div class="row text-white">
                            <div class="col-md-2">
                                <p>Imagen</p>
                            </div>
                            <div class="col-md-1">
                                <p>Linea</p>
                            </div>
                            <div class="col-md-1">
                                <p>Marca</p>
                            </div>
                            <div class="col-md-1">
                                <p>Articulo</p>
                            </div>
                            <div class="col-md-1">
                                <p>Modelo</p>
                            </div>
                            <div class="col-md-1">
                                <p>SKU</p>
                            </div>
                            <div class="col-md-1">
                                <p>$ Sin IVA</p>
                            </div>
                            <div class="col-md-1">
                                <p>$ Publico</p>
                            </div>
                            <div class="col-md-3  text-center">
                                <p>Opciones</p>
                            </div>
                        </div>

                        <!-- ACA ES LA VISUALIZACION DE PRODUCTOS -->
                        <div class="row text-white">
                            <div class="col-md-2">
                               
                            </div>
                            <div class="col-md-1">
                            
                            </div>
                            <div class="col-md-1">
                               
                            </div>
                            <div class="col-md-1">
                              
                            </div>
                            <div class="col-md-1">
                               
                            </div>
                            <div class="col-md-1">
                                
                            </div>
                            <div class="col-md-1">
                                
                            </div>
                            <div class="col-md-1">
                             
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-between">
                                <button type="button" class="btn btn-success w-48">Editar</button>
                                <button type="button" class="btn btn-danger  w-48">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Modal -->
        <div class="modal fade" id="crearProductoModal" tabindex="-1" aria-labelledby="crearProductoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearProductoModalLabel">Crear Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario para crear un nuevo producto -->
                        <form action="/" method="POST">
                            <div class="form-group">
                                <label for="nombreProducto">Nombre del Producto</label>
                                <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcionProducto">Descripción del Producto</label>
                                <textarea class="form-control" id="descripcionProducto" name="descripcionProducto" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar Producto</button>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
        
       
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/vendors.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
